*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--bg-body);
}

a {
  color: #000;
  -webkit-tap-highlight-color: none;
  text-decoration: none;
}

@media (max-width: 768px) {
  section {
    height: auto;
    min-height: 0;
    margin-top: 100px;
  }
}

section {
  height: auto;
  min-height: 0;
  margin-top: 75px;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}
