*,
html,
body    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body    {
    overflow-x: hidden;
    background: var(--bg-body);
}

a   {
    color: #000;
    -webkit-tap-highlight-color: none;
    text-decoration: none;
}

section {
    margin-top: 50px;
}

.container  {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

li  {
    list-style: none;
}